.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .parent {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid red;
} */

.child {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 20px solid blue;
  border-top: 20px solid red;
  background-color: black;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid lightgrey;
  border-top: 20px solid grey;
  box-sizing: border-box;
  animation: spin 2s linear infinite;
}

.loader2 {
  width: 150px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0%, #888 100%);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: load 2s infinite linear;
}
@keyframes load {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}
